extend base
block content
  section(class="signup")
    form.form.form-user-Password
      h2.heading-secondary.ma-bt-md Password change
      form.form.form-user-password
        .form__group
          label.form__label(for='password-current') Current password
          input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(type='password', placeholder='••••••••', required,name="password" minlength='8')
        .form__group.ma-bt-lg
          label.form__label(for='password-confirm') Confirm password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.right
          button.btn.btn--small.btn--green.btn--save-password Save password
