
<section class="signup">
  <h2>START EATING HEALTHY TODAY</h2>
  <div class="signup-parent">
    <div class="signup-child">
      <div class="signup-header">
        <h3>PREMIUM</h3>
        <div class="signup-pricing"><span>$399</span>/month
          <p>That&rsquo;s only 13.30$ per meal</p>
        </div>
      </div>
      <div class="signup-features">
        <ul>
          <li><i class="fas fa-check-circle"> </i>1 meal every day</li>
          <li><i class="fas fa-check-circle"> </i>Order 24/7</li>
          <li><i class="fas fa-check-circle"> </i>Access to newest creations</li>
          <li><i class="fas fa-check-circle"> </i>Free delivery</li>
        </ul>
        <div class="signup-button"><a class="btn btn-full" href="#">I&apos;m hungry</a></div>
      </div>
    </div>
    <div class="signup-child">
      <div class="signup-header">
        <h3>PRO</h3>
        <div class="signup-pricing"><span>149$</span>/month
          <p>That&rsquo;s only 14.90$ per meal</p>
        </div>
      </div>
      <div class="signup-features">
        <ul>
          <li><i class="fas fa-check-circle"> </i>1 meal every day</li>
          <li><i class="fas fa-check-circle"> </i>Order 24/7</li>
          <li><i class="fas fa-check-circle"> </i>Access to newest creations</li>
          <li><i class="fas fa-check-circle"> </i>Free delivery</li>
        </ul>
        <div class="signup-button"><a class="btn btn-empty" href="#">I&apos;m hungry</a></div>
      </div>
    </div>
    <div class="signup-child">
      <div class="signup-header">
        <h3>STARTER</h3>
        <div class="signup-pricing"><span>19$</span>/ meal
          <p>That&rsquo;s only 13.30$ per meal</p>
        </div>
      </div>
      <div class="signup-features">
        <ul>
          <li><i class="fas fa-check-circle"> </i>1 meal</li>
          <li><i class="fas fa-check-circle"> </i>Order from 8 am to 12 pm</li>
          <li><i class="fas fa-check-circle"> </i>Free delivery</li>
        </ul>
        <div class="signup-button"><a class="btn btn-empty" href="#">I&apos;m hungry</a></div>
      </div>
    </div>
  </div>
</section>